.background-gallery {
  background-color: grey;
}

.btn.load-more {
  position: relative;
  transform: translate(-50%);
  left: 50%;
  margin-top: 150px;
  margin-bottom: 50px;
  background-color: #212529;
}
